<!DOCTYPE html>
<html>
<head>
    <title>Employee Details</title>
</head>
<body>

    <h2>Employee Details</h2>

    {% if students %}
        <table border="1" cellpadding="8" cellspacing="0">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roll No</th>
                <th>Email</th>
            </tr>

            {% for s in students %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.rollno }}</td>
                <td>{{ s.email }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No records found</p>
    {% endif %}

    <br>
    <a href="/addemp/">Add New Employee</a>

</body>
</html>
