<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Page</title>

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .box {
            background: #4CAF50;
            color: white;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="box">
    AJAGARE RAHUL🎉
    </div>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>





   {% for i in e%}
   {{i.name}}
   <hr>
   {{i.email}}
   {% endfor%}
</body>
</html>
