{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materials</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="nav">
    <div class="left">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      
    </div>
</header>
<section class="hero">
    <div class="hero-content">
        <h1>Build Stronger with Trusted Construction Materials</h1>
        <p>
            Quality construction materials at the best prices —
            delivered on time for every project.
        </p>
    </div>
</section>

<h1>Material List</h1>


<div class="container">
    {% if item %}
        {% for i in item %}
            <div class="card">

                <h2>{{ i.name }}</h2>

                {% if i.image %}
                    <img src="{{ i.image.url }}" alt="{{ i.name }}">
                {% else %}
                    <img src="{% static 'images/bricks.jpeg' %}" alt="Default">
                {% endif %}

                <p class="price">₹ {{ i.price }}</p>
                <p class="quantity">Quantity: {{ i.quantity }}</p>
                <p>{{ i.description }}</p>
                 <div class="actions">
        <button class="btn cart">Add to Cart</button>
        <button class="btn buy">Buy Now</button>
    </div>


            </div>
        {% endfor %}

    {% endif %}
</div>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ m.as_p }}
    <button type="submit">Add Item</button>
</form>

</body>
</html>
